.DS_Store
*.swp
*.d
*.o
*.a
*.dSYM
*.so
*.so.*
*.exe
*.dll
*.dylib
*.class
*.jar
*.pyc
*.egg-info
*.tgz
*.tar.gz
*.github.io
_*.diff

build*/
samples/sample
_sample*.txt
tmp
MANIFEST
.vscode

bindings/python/dist/
bindings/python/src/

